<div class="ui container">
  <%= form_for @lawsuit, html: {class: "ui form"} do |f| %>
    <div class="field">
      <label>Informações</label>
      <div class="three fields">
        <div class="field">
          <%= f.text_field :autos, placeholder:"Autos Nº" %>
        </div>
        <div class="field">
          <%= f.select(:forum_id, @forum_options_for_select, {}, {class:"selectize-forum", placeholder: "Vara"})  %>
        </div>
        <div class="field">
          <%= f.select(:lawyer_id, @lawyer_options_for_select, {}, {class:"selectize-generic"})  %>
        </div>
      </div>
      <div class="three fields">
        <div class="field">
          <%= f.text_field :conciliation_date, placeholder:"Data de Conciliação" %>
        </div>
        <div class="field">
          <%= f.text_field :instruction_date, placeholder:"Data de Instrução" %>
        </div>
        <div class="field">
          <%= f.text_field :fees, placeholder:"Honorários" %>
        </div>
      </div>
      <%= f.collection_select :actives, Contact.all, :id, :name, {include_hidden: false}, {multiple: true} %>
      <div class="field">
        <label>Ativos</label>
        <div class="two fields">
          <div class="field">
            <div id="actives">
              <%= f.fields_for :actives do |active_fields| %>
                <%= render partial: "active_fields", locals: { f: active_fields } %>
              <% end %>
              <%= link_to_add_association f, :actives, class:"ui right labeled icon button" do %>
                Adicionar Ativo
                <i class="right plus icon"></i>
              <% end %>
            </div>
          </div>
          <div class="field">
          </div>
        </div>
      </div>
    </div>
    <div class="centered padded grid">
      <% if @lawsuit.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@lawsuit.errors.count, "error") %> prohibited this lawsuit from being saved:</h2>
          <ul>
            <% @lawsuit.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
  <%= render partial: "forumModal" %>
  <script>
    $(document).ready(function(){
      var selectizeCallback = null;
    
      $('.ui.modal.forum-modal')
      .modal({
        onHidden: function(e){
          if (selectizeCallback != null){
            selectizeCallback();
            selectizeCallback = null;
          }
    
          $("#new_forum").trigger("reset");
          $.rails.enableFormElements($("#new_forum"));
        }
      });
    
      $("#new_forum").on("submit", function(e){
        e.preventDefault();
        $.ajax({
          dataType: "json",
          method: "POST",
          url: $(this).attr("action"),
          data: $(this).serialize(),
          success: function(response) {
            console.log(response)
            selectizeCallback({value: response.forum.id, text: response.forum.name});
            selectizeCallback = null;
    
            $(".ui.modal.forum-modal").modal('toggle');
          }
        })
      });
    
      $(".selectize-forum").selectize({
        create: function(input, callback){
          selectizeCallback = callback;
    
          $(".ui.modal.forum-modal").modal('show');
          $("#forum_name").val(input);
        }
      });
    
      $(".selectize-generic").selectize();
    
    });
  </script>
