<div class="ui container">
  <%= form_for @lawsuit, html: {class: "ui form"} do |f| %>

  <div class="field">
    <label>Informações</label>
    <div class="three fields">
      <div class="field">
        <%= f.text_field :autos, placeholder:"Autos Nº" %>
      </div>
      <div class="field">
        <%= f.text_field :forum_id, placeholder:"Vara" %>
      </div>
      <div class="field">
        <%= f.select(:lawyer_id, @lawyer_options_for_select, {}, {class:"selectize"})  %>
      </div>
    </div>
    <div class="three fields">
      <div class="field">
        <%= f.text_field :conciliation_date, placeholder:"Data de Conciliação" %>
      </div>
      <div class="field">
        <%= f.text_field :instruction_date, placeholder:"Data de Instrução" %>
      </div>
      <div class="field">
        <%= f.text_field :fees, placeholder:"Honorários" %>
      </div>
    </div>

<div class="field">
  <label>Ativos</label>
  <div class="two fields">
    <div class="field">
      <%= f.select(:actives, @actives_options_for_select, {}, {multiple: true, class:"selectize", placeholder: "Ativos"})  %>
    </div>
    <div class="field">
      <%= f.select(:passives, @actives_options_for_select, {}, {multiple: true, class:"selectize", placeholder: "Passivos"})  %>
    </div>
  </div>
</div>


</div>

<div class="centered padded grid">

  <% if @lawsuit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lawsuit.errors.count, "error") %> prohibited this lawsuit from being saved:</h2>

      <ul>
      <% @lawsuit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>

<div class="ui modal contact-modal">
  <i class="close icon"></i>
  <div class="header">
    Modal Title
  </div>
  <div class="image content">
    <div class="image">
      An image can appear on left or an icon
    </div>
    <div class="description">
      A description can appear on the right
    </div>
  </div>
  <div class="actions">
    <div class="ui button">Cancel</div>
    <div class="ui button">OK</div>
  </div>
</div>

<script>
    $(document).ready(function(){
      var selectizeCallback = null;
    
      $('.ui.modal.contact-modal')
      .modal({
        onHidden: function(e){
          if (selectizeCallback != null){
            selectizeCallback();
            selectizeCallback = null;
          }
    
          $("#new_contact").trigger("reset");
          $.rails.enableFormElements($("#new_contact"));
        }
      });
    
      $("#new_contact").on("submit", function(e){
        e.preventDefault();
        $.ajax({
          method: "POST",
          url: $(this).attr("action"),
          data: $(this).serialize(),
          success: function(response) {
            selectizeCallback({value: response.id, text: response.name});
            selectizeCallback = null;
    
            $(".ui.modal.contact-modal").modal('toggle');
          }
        })
      });
    
      $(".selectize").selectize({
        create: function(input, callback){
          selectizeCallback = callback;
    
          $(".ui.modal.contact-modal").modal('show');
          $("#contact_name").val(input);
        }
      });
    
    });
</script>