<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @phone.number %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @phone.contact %>
</p>

<%= link_to 'Edit', edit_dashboard_phone_path(@phone) %> |
<%= link_to 'Back', dashboard_phones_path %>
